*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body{
    color: white;
}

main{
    background-color: #4a4848;
  
}

.main--main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo-main{
    font-size: 3rem;
}
.img--main{
    width: 200px;
}

.btnEmpezar{
    padding: 20px 40px;
    background: linear-gradient(90deg, rgb(13, 219, 219) 0%, rgb(45, 90, 203) 100%);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 20px;
}

.btnEmpezar:hover{
 cursor: pointer;
}


.main--section{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.seccion{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    column-gap: 30px;

}


.seccion__card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease 0.7s;
}

.seccion__card:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: gray;
}

.card__img{
    width: 50%;
    height: auto;
    object-fit: contain;
}

.main--end{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 35px;
    align-items: center;
}

.nivel--dos{
    font-size: 1.5rem;
}

.nivel--tres{
    font-size: 1.8rem;
}

.editar{
    color: white;
}

.red-social{
    padding: 3px 5px;
    color: white;
    background-color: blue;
    border: none;
}

/* .icono{
    color: white;
} */